<app-nav-bar></app-nav-bar>
<div class="wrapper">
  <div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/FrontAssets/img/bg6.jpg');">
    </div>
    <div class="page-header-image rellax-header">
      <iframe width="100%" height="500" src="https://www.youtube.com/embed/EVQS0RQqT1I&t=75s?autoplay=1&mute=1&controls=0&loop=1&playlist=EVQS0RQqT1I&t=75s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="container">
      <div class="content-center">
        <h1 class="title">Welcome To Esprit</h1>
      </div>
    </div>
  </div>
  <div class="section section-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Who we are?</h2>
          <h5 class="description"> Fondée en 2003 à l’initiative de trois universitaires ayant conduit de nombreux projets dans l’enseignement supérieur tunisien, et dans l’enseignement supérieur technique en particulier, entourés de plusieurs dizaines de leurs collègues, ainsi que d’entreprises TIC et de partenaires financiers, Esprit a dès le départ mis en place des formations basées sur des valeurs intangibles</h5>
        </div>
      </div>
      <div class="separator separator-primary"></div>
      <div class="section-story-overview">
        <div class="row">
          <div class="col-md-6">
            <div class="image-container image-left" style="background-image: url('assets/FrontAssets/img/login.jpg')">
              <!-- First image on the left side -->
              <p class="blockquote blockquote-primary">"Maecenas et mauris viverra, ultricies lorem a, eleifend nunc. Sed congue at metus non ultrices. Aliquam vel urna ut arcu convallis consectetur et in leo. Nunc ac ultricies libero. Duis sed ex sit amet leo accumsan laoreet eget nec elit. "
                <br>
                <br>
                <small>-NOAA</small>
              </p>
            </div>
            <!-- Second image on the left side of the article -->
            <div class="image-container" style="background-image: url('assets/FrontAssets/img/bg3.jpg')"></div>
          </div>
          <div class="col-md-5">
            <!-- First image on the right side, above the article -->
            <div class="image-container image-right" style="background-image: url('assets/FrontAssets/img/universite-esprit-tunisie.jpg')"></div>
            <h3>So what does the new record for the lowest level of winter ice actually mean</h3>
            <p>Integer maximus orci id purus congue vestibulum. Phasellus nunc lectus, volutpat a mattis quis, blandit eu mi. Donec eget venenatis ipsum. Curabitur eget risus dapibus, maximus neque ac, faucibus dolor. Nam mi ipsum, hendrerit ut rutrum sed, placerat nec quam.
            </p>
            <p>
              Nam scelerisque eget ipsum egestas vulputate. Cras accumsan imperdiet risus, ac bibendum tortor gravida eu. Integer euismod nisl sit amet rhoncus vulputate. Suspendisse elementum nibh sit amet ipsum dictum vehicula. Maecenas elementum libero ut orci faucibus, sit amet maximus neque aliquet. Aenean a rutrum arcu            </p>
            <p>n a ullamcorper magna, tempus molestie enim. Aliquam eu hendrerit mauris. Donec dolor ex, facilisis in finibus et, iaculis eu ante.
              Curabitur sem nibh, pretium quis dui gravida, hendrerit accumsan purus. Fusce eu scelerisque lorem. Integer ac tempus felis, imperdiet faucibus turpis. Suspendisse ut leo auctor, lobortis diam non, tincidunt dui. Donec vehicula aliquet sodales. Integer sagittis ac risus quis consectetur. Integer rhoncus ligula tincidunt purus consectetur,
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-team text-center">
    <div class="container">
      <h2 class="title">Here is our team</h2>
      <div class="team">
        <div class="row">
          <div class="col-md-4">
            <div class="team-player">
              <img src="assets/FrontAssets/img/mahdi.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
              <h4 class="title">Mahdi Fersi</h4>
              <p class="category text-primary">Software developer</p>
              <p class="description">I am a software developer with a passion for building innovative and useful applications. I have experience with a variety of programming languages and frameworks, and enjoy tackling complex problems and finding creative solutions.
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <img src="assets/FrontAssets/img/DhiaHamrouni.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
              <h4 class="title">Dhia Hamrouni</h4>
              <p class="category text-primary">Software engineer</p>
              <p class="description">Eventually The things in life that give you pause mean nothing, death , becomes your friend
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <img src="assets/FrontAssets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
              <h4 class="title">Amira Oueslati</h4>
              <p class="category text-primary">Fashion</p>
              <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <img src="assets/FrontAssets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
              <h4 class="title">Nour Ajimi</h4>
              <p class="category text-primary">Fashion</p>
              <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <img src="assets/FrontAssets/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
              <h4 class="title">Ghassen Bahry</h4>
              <p class="category text-primary">Fashion</p>
              <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="section section-contact-us text-center" id="workie">
    <div class="container">
      <h2 class="title">Want to work with us?</h2>
      <p class="description">Here are the Offres currently available.</p>
    </div>
    <table>
      <th *ngFor="let offre of listOffers">
        <div class="card" *ngIf="offre">
          <img class="card-img-top" src="assets/BackAssets/img/{{offre.type}}.jpg">
          <table class="card-body">
            <tr>
              <th>
                <h5 class="card-title">{{offre.title}}</h5>
              </th>
            </tr>
            <tr>
              <th>
                <h6 class="card-subtitle mb-2 text-muted">Job Description</h6>
                <p class="card-text">{{offre.description}}</p>
              </th>
            </tr>
            <tr>
              <th>
                <h6 class="card-subtitle mb-2 text-muted">Job Capacity</h6>
                <p class="card-text">{{offre.capacity}}</p>
              </th>
            </tr>


            <p class="card-text" >
            <button class="btn btn-success rounded-pill" routerLink="/apply/{{offre.idOffre}}">Apply for Position</button>
          </table>
        </div>
    </table>
  </div>
  <app-footer></app-footer>
</div>
