.button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  background-color: #66BA63;
}

/* green */
.button3 {
  background-color: #80D07D;
}

/* Red */
.button4 {
  background-color: #5C905A;
  color: black;
}

/* Gray */
.button5 {
  background-color: #555555;
}

/* Black */



html,
body {
  display: grid;
  height: 100vh;
  place-items: center;
  background: whitesmoke;
}

.main_div {
  width: 365px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.main_div .title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.main_div .social_icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.social_icons a {
  display: block;
  height: 45px;
  width: 100%;
  line-height: 45px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s linear;
}

.social_icons a span {
  margin-left: 5px;
  font-size: 18px;
}

.social_icons a:first-child {
  margin-right: 5px;
  background: #4267B2;
}

.social_icons a:first-child:hover {
  background: #375695;
}

.social_icons a:last-child {
  margin-left: 5px;
  background: #1DA1F2;
}

.social_icons a:last-child:hover {
  background: #0d8bd9;
}

form {
  margin-top: 25px;
}

form .input_box {
  height: 50px;
  width: 50%;
  position: relative;
  margin-top: 15px;
}

.input_box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 45px;
  font-size: 14px;
  transition: all 0.3s ease;
}

.input_box input:focus {
  border-color: darkcyan;
}

.input_box .icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: grey;
}

form .option_div {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.option_div .check_box {
  display: flex;
  align-items: center;
}

.option_div span {
  margin-left: 5px;
  font-size: 16px;
  color: #333;
}

.option_div .forget_div a {
  font-size: 16px;
  color: darkcyan;
}

.button input {
  padding-left: 0;
  background: darkcyan;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s linear;
}

.button input:hover {
  background: darkcyan;
}

form .sign_up {
  text-align: center;
  margin-top: 25px;
}

.sign_up a {
  color: darkcyan;
}

form a {
  text-decoration: none;
}

form a:hover {
  text-decoration: underline;
}


.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}

.form .column {
  display: flex;
  column-gap: 15px;
}

.form :where(.select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-box {
  width: 50%;
  position: relative;

}
.my-custom-scrollbar {
  position: relative;
  height: 350px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
.dataTables_filter {
  display: block;
}

#chart2 {
  width: 10cm;
  height: 10cm;
}

#chart2 canvas {
  height: 100%;
  width: 100%;
}

.card-body canvas {
  height: 100%;
  width: 100%;
}

.chartjs-render-monitor {
  margin: auto;
}

/* set cutout percentage here */
#chart2[data-visualization-type="doughnut"] .chartjs-doughnut-layer {
  clip-path: circle(20% at 20% 80%);
}

.progress{
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}

.progress .progress-bar{
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}



/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/


.rounded-lg {
  border-radius: 1rem;
}

.text-gray {
  color: #aaa;
}

div.h4 {
  line-height: 1rem;
}
#userD:active {
  transform: scale(0.95); /* or any other effect you want */
}
