<div _ngcontent-serverapp-c213="" class="gw-footer-inner snipcss-8vmws">
  <div _ngcontent-serverapp-c213="" class="gw-footer-inner snipcss-8vmws">
    <div _ngcontent-serverapp-c213="" class="gw-footer-content gw-flex gw-justify-between">
      <div _ngcontent-serverapp-c213="" class="footer-item gw-flex gw-align-center">
        <a _ngcontent-serverapp-c213="" class="gw-flex gw-align-center" href="mailto:espritconnect@esprit.tn">
          <div _ngcontent-serverapp-c213="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">
            email
          </div>
          <p _ngcontent-serverapp-c213="" class="margin-left--xs">
            espritconnect@esprit.tn
          </p>
        </a>
        <a _ngcontent-serverapp-c213="" target="_blank" ref="noopener" class="gw-flex gw-align-center margin-left--sm" href="https://maps.google.com/?q=ESPRIT, Cebalat Ben Ammar, Ariana, Tunisia">
          <div _ngcontent-serverapp-c213="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">
            location_on
          </div>
          <p _ngcontent-serverapp-c213="" class="margin-left--xs">
            ESPRIT, Cebalat Ben Ammar, Ariana, Tunisia
          </p>
        </a>
      </div>
      <a _ngcontent-serverapp-c213="" class="gw-flex gw-align-center width-fit-content privacy-policy" href="/privacy-policy">
        Politique de confidentialité
      </a>
    </div>
  </div>
</div>
