<app-nav-bar></app-nav-bar>
<div class="wrapper">
  <div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/FrontAssets/img/bg6.jpg');">
    </div>
    <div class="page-header-image rellax-header">
      <iframe width="100%" height="500" src="https://www.youtube.com/embed/EVQS0RQqT1I&t=75s?autoplay=1&mute=1&controls=0&loop=1&playlist=EVQS0RQqT1I&t=75s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="container">
      <div class="content-center">
        <h1 class="title">Frequently Asked Questions</h1>
      </div>
    </div>
  </div>
  <div class="section section-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title" style="color: red;">Why Would I join Esprit?</h2>
          <h5 class="description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title" style="color: red;">What Opportunities does Esprit provide me with?</h2>
        <h5 class="description">Tellus elementum sagittis vitae et. Curabitur gravida arcu ac tortor dignissim convallis aenean et tortor. Aenean et tortor at risus viverra adipiscing. Amet volutpat consequat mauris nunc congue nisi vitae. Leo urna molestie at elementum eu. Nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Amet facilisis magna etiam tempor orci. Vel pharetra vel turpis nunc eget. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Faucibus interdum posuere lorem ipsum dolor sit amet consectetur adipiscing. Cursus turpis massa tincidunt dui ut ornare lectus.</h5>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title" style="color: red;">What kind of Academic future does Esprit bring?</h2>
        <h5 class="description">Tellus elementum sagittis vitae et. Curabitur gravida arcu ac tortor dignissim convallis aenean et tortor. Aenean et tortor at risus viverra adipiscing. Amet volutpat consequat mauris nunc congue nisi vitae. Leo urna molestie at elementum eu. Nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Amet facilisis magna etiam tempor orci. Vel pharetra vel turpis nunc eget. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Faucibus interdum posuere lorem ipsum dolor sit amet consectetur adipiscing. Cursus turpis massa tincidunt dui ut ornare lectus.</h5>
      </div>
    </div>
  </div>

  <div class="section section-team text-center">
    <div class="container">
      <h2 class="title">Interested in Working with us?</h2>
      <div class="send-button">
        <a href="#workie" class="btn btn-primary btn-round btn-block btn-lg">Apply here</a>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
