<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Users / Profile - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


</head>

<body>

<!-- ======= Header ======= -->
<app-nav-bar-back></app-nav-bar-back>
<!-- ======= Sidebar ======= -->
<app-side-bar-back></app-side-bar-back>

<main id="main" class="main" >

  <div class="pagetitle">
    <h1>Form Layouts</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Offers</li>
        <li class="breadcrumb-item active">Add Offer</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <table>
  <th *ngFor="let offre of listOffers">
  <div class="card" *ngIf="offre">
    <img class="card-img-top" src="assets/BackAssets/img/{{offre.type}}.jpg">
  <table class="card-body">
    <tr>
      <th>
        <h5 class="card-title">{{offre.title}}</h5>
      </th>
    </tr>
    <tr>
      <th>
          <h6 class="card-subtitle mb-2 text-muted">Job Description</h6>
          <p class="card-text">{{offre.description}}</p>
      </th>
    </tr>
    <tr>
      <th>
          <h6 class="card-subtitle mb-2 text-muted">Job Capacity</h6>
          <p class="card-text">{{offre.capacity}}</p>
      </th>
    </tr>

    <p class="card-text" >
    <button (click)="deletation(offre.idOffre)"  class="btn btn-danger rounded-pill">Delete</button></p>
    <button (click)="getoffre(offre.idOffre)" class="btn btn-info rounded-pill">Update offer</button>
  </table>
</div>
  </table>
  <a href="/homeBack/add_offer" class="btn btn-success btn-lg">Add Another Offer</a>

</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<app-footer-back></app-footer-back>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


</body>

</html>
