<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Users / Profile - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


</head>

<body>

<!-- ======= Header ======= -->
<app-nav-bar-back></app-nav-bar-back>
<!-- ======= Sidebar ======= -->
<app-side-bar-back></app-side-bar-back>
<main id="main" class="main">
  <app-interview-details-admin></app-interview-details-admin>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<app-footer-back></app-footer-back>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


</body>

</html>
