<app-nav-bar></app-nav-bar>
<div class="page-header" filter-color="orange">
  <div class="page-header-image" style="background-image:url(assets/FrontAssets/img/login.jpg)"></div>
  <div class="container">
    <div class="col-md-4 content-center">
      <div class="card card-login card-plain">
        {{SignUpData|json}}
        <form class="form" method="post" (ngSubmit)="formSubmit()">
          <div class="header header-primary text-center">
            <div class="logo-container">
              <img src="assets/FrontAssets/img/img.png" alt="">
            </div>
          </div>
          <div class="content">
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
              <div class="input-group-prepend">
                <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
              </div>
              <input  [(ngModel)] = "SignUpData.firstname" type="text" name="firstname" placeholder="Firstname" class="form-control"  (focus)="focus=true" (blur)="focus=false" >
            </div>
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
              </div>
              <input [(ngModel)] = "SignUpData.lastname"  type="text" name="lastname" placeholder="Lastname" class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
            </div>
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
              </div>
              <input [(ngModel)] = "SignUpData.email" type="email" name="email" placeholder="Email" class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
            </div>
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
              </div>
              <input [(ngModel)] = "SignUpData.cin" type="text" name="cin" placeholder="CIN" class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
            </div>
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
              </div>
              <div class="mb-3"><select class="form-control" [(ngModel)] = "SignUpData.nationality" name="nationality">
                <option value="">--Please choose your nationality--</option>
                <option value="TUNISIENNE">TUNISIENNE</option>
                <option value="ETRANGER">ETRANGER</option>
              </select></div>            </div>
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
              </div>
              <div class="mb-3"><select class="form-control" [(ngModel)] = "SignUpData.sexe" name="sexe">
                <option value="">--Please choose your sexe--</option>
                <option value="HOMME">HOMME</option>
                <option value="FEMME">FEMME</option>
              </select></div>            </div>
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
              </div>
              <div class="mb-3"><select class="form-control" [(ngModel)] = "SignUpData.typeCours" name="typeCours" >
                <option value="">--Please choose an course type--</option>
                <option value="JOUR">JOUR</option>
                <option value="NUIT">NUIT</option>
              </select></div>            </div>
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
              </div>
              <div class="mb-3"><select class="form-control "  [(ngModel)] = "SignUpData.niveauActuel" name="niveauActuel" >
                <option value="">--Select your level --</option>
                <option value="BAC">BAC</option>
                <option value="PREPA1ER">PREPA1ER</option>
                <option value="PREPA2EME">PREPA2EME</option>
                <option value="LICENCE3EMEINFO">LICENCE3EMEINFO</option>
                <option value="LICENCE3EMENONINFO">LICENCE3EMENONINFO</option>
                <option value="MASTERE1ER">MASTERE1ER</option>
              </select></div>            </div>

          </div>
          <div class="footer text-center">
            <button type="submit" routerLink="signUp/login" class="btn btn-primary btn-round btn-lg btn-block">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

